<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>
    <!--项目中最重要的 RollingFileAppender输出到文件，SizeAndTimeBasedRollingPolicy:按照时间和大小控制记录文件。看笔记可以-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
        <!--append：如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。-->
        <append>false</append>
        <file>myLog.log</file>
    </appender>
    <logger name="com.xiaohei.controller" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>